<div class="exercise_details">
  <div *ngIf="exerciseData">
    <div class="title_exercise">
      <div class="flex group_author">
        <img class="avatar" [src]="exerciseData.author.avatarPath" alt="{{ exerciseData.author.username }}'s Avatar">
        <p>{{ exerciseData.author.username }}</p>/
        <p>{{ exerciseData.author.educationLevel }}</p>
      </div>
      <div  class="exercise flex">
       <p>{{ exerciseData.name }}</p>
      </div>
    </div>
    <div class="main">
      <div class="other">
        <div class="about">
          <div class="title_about">About</div>
          <p>Description : {{ exerciseData.description }}</p>
          <ul class="content_about icon_16">
            <li>
              <img src="../../../assets/svg/create_new_books.svg" alt="">
              {{ exerciseData.numberOfUses }} Number of Uses
            </li>
            <li>
              <img src="../../../assets/svg/icon_svg/hand-thumbs-up.svg" alt="">
              {{ exerciseData.point }} point
            </li>
            <li>
              <img src="../../../assets/svg/icon_svg/target-line-icon.svg" alt="">
              {{ exerciseData.target.$values.length }} target
            </li>
            <li>
              <img src="../../../assets/svg/icon_svg/eye.svg" alt="">0 view
            </li>
          </ul>
        </div>
        <div class="group_category">  
          <div class="title_category">Category</div>
          <div class="content_category">
            <div>Name: {{ exerciseData.categoryName }}</div>
            <div>Description: {{ exerciseData.descriptionCategory }}</div>
          </div>
        </div>
      </div>
      <div class="target">
        <div class="title_target flex">
          <div>
            <p>{{ exerciseData.name }}</p>
          </div>
          <div>
            <p>{{ exerciseData.target.$values.length }}</p>

          </div>
        </div>
        <div class="content flex" *ngFor="let target of exerciseData.target.$values"  (click)="navigateToTargetDetails(target.id)">
          <div class="flex">
            <img class="avatar" [src]="target.author.avatarPath" alt="{{ target.author.username }}'s Avatar">
            <p>{{ target.target }}</p>
            <p>Point: {{ target.point }}</p>
            <p>Status: {{ target.status }}</p>
          </div>
        </div>
        <app-no-target *ngIf="exerciseData.target.$values.length == 0"></app-no-target>
      </div>

    </div>
  </div>
</div>