.layout_user {
  position: relative;
  user-select: none;
}

.flex>div:nth-child(2) {
  flex: 1;
}

.group_header>div:last-child {
  flex: 1;
}

.sidebars {
  width: 250px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;

  transition: 0.5s;
}

.content {
  margin-left: 250px;
  transition: 0.5s;

}

.group_header {
  /* position: relative; */
  position: sticky;
  top: 0px;
  z-index: 99;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0px 0px 0px 10px;
  background-color: white;
  border-bottom: 1px solid var(--e9ecef-Bg-2, #E9ECEF);
}

.open_and_close {
  padding: 10px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  top: 24px;
  left: 24px;
  z-index: 2;
}

.open_and_close img {
  /* width: 24px; */
  height: auto;
}

.open_and_close:hover {
  background-color: aqua;

}

.hidden {
  /* position: absolute; */
  left: -250px;
}

.block {
  display: none;
}

/* __________________________________________________________________ */

.sidebar_left,
.sidebar_left_2 {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 101;
}

.sidebar_right,
.sidebar_right_2 {
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 101;
  /* background-color: #75aee6;   */
}

.sidebar_left,
.sidebar_right {
  transition: 0.5s;

  overflow: auto;
  min-width: 200px;
  max-width: 600px;
  height: 100vh;
  background-color: white;
  overflow: hidden;
  z-index: 102;
  /* display: none; */
}

.sidebar_left{
  border-right: 1px solid #ccc;
}

.sidebar_right{
  border-left: 1px solid #ccc;

}

.sidebar_left_2 {
  
  padding: 0pc 10px 0px 0px;
  /* border-right: 1px #ccc solid; */
}

.sidebar_right_2{
  padding: 0pc 0px 0px 10px;
  /* border-left: 1px solid #ccc; */
}

.sidebar_left_2 ,.sidebar_right_2{
  transition: 0.5s;
  min-width: 210px;
  cursor: ew-resize;
  max-width: 600px;
  height: 100%;
  z-index: 101;
}

.sidebar_right_2 >div ,
.sidebar_left_2 > div {
  min-width: 200px;
}



.sidebar_left>div,
.sidebar_right>div,
.sidebar_left_2>div,
.sidebar_right_2> div {
  height: 100%;
  width: 100%;
}

.sidebar_left_2>div {
  padding: 0pc 5px 0px 0px;
}

.sidebar_right_2>div{
  padding: 0pc 0px 0px 15px;
  background-color: #ccc;
}

.sidebar_left:hover,
.sidebar_right:hover {
  background-color: aliceblue;
}



.sidebar_left_content ,.sidebar_right_content {
  width: 100%;
  height: 100%;
  min-width: 200px;
  cursor: default
}



@media screen and (max-width: 1023px) {
  .sidebars {
    /* position: absolute; */
    left: -250px;
  }

  .hidden {
    left: 0px;
  }

  .open_and_close {
    display: none;

  }

  .block {
    display: block;
    /* position: absolute; */

  }
}