<div class="flex layout_user">
    <div class="sidebars" [class.hidden]="!isSidebarOpen">
        <app-sidebar-user></app-sidebar-user>
    </div>
    <!-- <div [class.content]="isSidebarOpen"  > -->
        <div [class.content]="isSidebarOpen" [style.marginLeft.px]="mainContentStyle.marginLeft" [style.marginRight.px]="mainContentStyle.marginRight" >

        <div class="group_header">
            <div class="open_and_close" (click)="toggleSidebar()">
                <img *ngIf="isSidebarOpen" src="../../../assets/svg/icon_svg/x.svg" alt="" />
                <img *ngIf="!isSidebarOpen" src="../../../assets/svg/icon_svg/list-task.svg" alt="" />
            </div>

            <div class="open_and_close block" (click)="toggleSidebar()">
                <img *ngIf="!isSidebarOpen" src="../../../assets/svg/icon_svg/x.svg" alt="" />
                <img *ngIf="isSidebarOpen" src="../../../assets/svg/icon_svg/list-task.svg" alt="" />
            </div>
            <div><app-hearder-user></app-hearder-user></div>
        </div>
        <router-outlet></router-outlet>
    </div>

    
    <div [class.hidden_left]="isSidebarOpen">
        <div class="sidebar_left">
            <div [style.width.px]="leftSideBarStyle.width">
                <div class="sidebar_left_content" >
                    <app-sidebar-left-user></app-sidebar-left-user>
                </div>
            </div>
        </div>
        <div [style.zIndex]="leftSideBarStyle2.zIndex" [style.borderRight]="leftSideBarStyle2.borderRight" (mousemove)="onResizeLeft($event)" (mousedown)="onResizeStart()" (mouseup)="onResizeLeftEnd($event)" class="sidebar_left_2">
            <div [style.width.px]="leftSideBarStyle2.width" >
                <div class="sidebar_left_content" (mousemove)="blocKonResize($event)">
                </div>
                
            </div>
        </div>
    </div>

    <div [class.hidden_right]="isSidebarOpen">
        <div class="sidebar_right">
            <div [style.width.px]="rightSideBarStyle.width" >
                <div class="sidebar_right_content" >
                    <app-sidebar-left-user></app-sidebar-left-user>
                </div>
            </div>
        </div>
        <div [style.zIndex]="rightSideBarStyle2.zIndex" [style.borderLeft]="rightSideBarStyle2.borderLeft" (mousemove)="onResizeRight($event)" (mousedown)="onResizeStart()" (mouseup)="onResizeRightEnd($event)" class="sidebar_right_2">
            <div [style.width.px]="rightSideBarStyle2.width"  (mousemove)="blocKonResize($event)">
                <div class="sidebar_right_content" >
                </div>
                
            </div>
        </div>
    </div>
</div>
<div class="background_layout"></div>

<!-- <div class="testssss"></div> -->