<div class="flex">
    <div class="sidebars" [class.hidden]="!isSidebarOpen">
        <app-sidebar-user></app-sidebar-user>
    </div>
    <div>
        <div class="group_header">
            <div class="open_and_close" (click)="toggleSidebar()">
                <img *ngIf="isSidebarOpen" src="../../../assets/svg/icon_svg/x.svg" alt="" />
                <img *ngIf="!isSidebarOpen" src="../../../assets/svg/icon_svg/list-task.svg" alt="" />
              </div>
              
              <div class="open_and_close block" (click)="toggleSidebar()">
                <img *ngIf="!isSidebarOpen" src="../../../assets/svg/icon_svg/x.svg" alt="" />
                <img *ngIf="isSidebarOpen" src="../../../assets/svg/icon_svg/list-task.svg" alt="" />
              </div>
            <div><app-hearder-user></app-hearder-user></div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>