<div class="create_exercises text">


    <form (ngSubmit)="onSubmit()">
        <div class="text_16_title">
            <div>Create new exercises</div>
            <div class="text_13">
                Creating new exercises can be a fun and creative way to make your workout regimen interesting and
                challenging.
            </div>
        </div>
        <div class="form">
            <label for="target">Target:</label>
            <input type="text" id="target" #targetInput name="target" [(ngModel)]="formData.target"
                (input)="filterKeywords()" value="{{targetInputs}}">
            #tip
            <div class="flex">
                <div class="tip" *ngFor="let goal of goals" (click)="selectKeyword(goal.name)">
                    <div class="suggest"> {{goal.name}}/</div>
                    <div class="Suggested_details">{{goal.description}}</div>
                </div>
            </div>
        </div>


        <div class="form">
            <label for="category">Category:</label>
            <input type="text" id="category" name="category" [(ngModel)]="formData.category">
            <div class="flex">
                <div class="tip" *ngFor="let categorie of allGeneralGenre ; let last = last" (click)="toggleSelect(categorie)">
                    <div class="suggest" [class.select]="categorie.select">{{categorie.name}}</div>
                    <div class="Suggested_details">
                        {{categorie.description}}
                    </div>
                </div>
                <div class="tip">
                    <div class="suggest" >Others</div>
                    <div class="Suggested_details">
                        Can't find the genre you need? Create your own new category
                    </div>
                </div>
            </div>
        </div>



        <div class="form">
            <div class="form_radio ">
                <input type="radio" name="privacy" [(ngModel)]="formData.private" [value]="false" id="publicRadio">
                <label [class.click_private]="!formData.private" for="publicRadio">
                    <div>
                        <svg aria-hidden="true" focusable="false" role="img" class="octicon octicon-repo"
                            viewBox="0 0 16 16" width="16" height="16" fill="currentColor"
                            style="display: inline-block; user-select: none; vertical-align: text-bottom; overflow: visible;">
                            <path
                                d="M2 2.5A2.5 2.5 0 0 1 4.5 0h8.75a.75.75 0 0 1 .75.75v12.5a.75.75 0 0 1-.75.75h-2.5a.75.75 0 0 1 0-1.5h1.75v-2h-8a1 1 0 0 0-.714 1.7.75.75 0 1 1-1.072 1.05A2.495 2.495 0 0 1 2 11.5Zm10.5-1h-8a1 1 0 0 0-1 1v6.708A2.486 2.486 0 0 1 4.5 9h8ZM5 12.25a.25.25 0 0 1 .25-.25h3.5a.25.25 0 0 1 .25.25v3.25a.25.25 0 0 1-.4.2l-1.45-1.087a.249.249 0 0 0-.3 0L5.4 15.7a.25.25 0 0 1-.4-.2Z">
                            </path>
                        </svg>
                        Công khai
                    </div>
                    <div>Anyone on the internet can see this workout and follow it.</div>
                </label>
            </div>
            <div class="form_radio ">
                <input type="radio" name="privacy" [(ngModel)]="formData.private" [value]="true" id="privateRadio">
                <label [class.click_private]="formData.private" for="privateRadio">
                    <div>
                        <svg aria-hidden="true" focusable="false" role="img" class="octicon octicon-lock"
                            viewBox="0 0 16 16" width="16" height="16" fill="currentColor"
                            style="display: inline-block; user-select: none; vertical-align: text-bottom; overflow: visible;">
                            <path
                                d="M4 4a4 4 0 0 1 8 0v2h.25c.966 0 1.75.784 1.75 1.75v5.5A1.75 1.75 0 0 1 12.25 15h-8.5A1.75 1.75 0 0 1 2 13.25v-5.5C2 6.784 2.784 6 3.75 6H4Zm8.25 3.5h-8.5a.25.25 0 0 0-.25.25v5.5c0 .138.112.25.25.25h8.5a.25.25 0 0 0 .25-.25v-5.5a.25.25 0 0 0-.25-.25ZM10.5 6V4a2.5 2.5 0 1 0-5 0v2Z">
                            </path>
                        </svg>
                        bảo mật
                    </div>
                    <div>only you and your licensees</div>
                </label>
            </div>
        </div>


        <button type="submit">Submit</button>
    </form>

</div>

<!-- <div>
    <form action=""></form>
</div> -->