<div class="head">
    <div>
        <ul class="menu">
            <li routerLink="/main/home"><img src="../../../assets/svg/list.svg" alt="">
                <ul class="menu">
                    <li></li>
                    <li routerLink="/main/home" class="app">Home</li>
                    <li routerLink="/main/intro" class="app">Intro</li>
                    <li class="app">Exercise
                        <ul class="item">
                            <li><img src="../../../assets/svg/book.svg" alt=""> Exercise</li>
                            <li><img src="../../../assets/svg/create_new_books.svg" alt="">Create Exercise</li>
                            <li><img src="../../../assets/svg/book_pins.svg" alt="">Exercises of the day</li>
                            <li><img src="../../../assets/svg/Instruction_book.svg" alt="">Instruct</li>
                            <li><img src="../../../assets/svg/book.svg" alt="">Exercise library</li>
                        </ul>
                    </li>
                    <li routerLink="/main/news" class="app">News</li>
                    <li routerLink="/main/tips" class="app">Tips</li>
       
                    <li routerLink="/main/profile" class="app"><img src="../../../assets/svg/user.svg" alt=""></li>
                </ul>
            </li>

            <li routerLink="/main/home">Home</li>
            <li routerLink="/main/intro">Intro</li>
            <li>Exercise
                <ul class="item">
                    <li><img src="../../../assets/svg/book.svg" alt=""> Exercise</li>
                    <li><img src="../../../assets/svg/create_new_books.svg" alt="">Create Exercise</li>
                    <li><img src="../../../assets/svg/book_pins.svg" alt="">Exercises of the day</li>
                    <li><img src="../../../assets/svg/Instruction_book.svg" alt="">Instruct</li>
                    <li><img src="../../../assets/svg/book.svg" alt="">Exercise library</li>
                </ul>
            </li>
            <li routerLink="/main/news">News</li>
            <li routerLink="/main/tips">Tips</li>
            <li routerLink="/main/profile"><img src="../../../assets/svg/user.svg" alt="">
                <div></div>
            </li>
        </ul>
    </div>
    <div>
        <!-- <p class="conten">Welcome to gymmax</p> -->
    </div>
    
</div>
