<div class="head">
    <div class="nav-logo icon"><i class="fa-solid fa-house"></i></div> 
    <input type="checkbox" name="toggle" id="toggle"
        class="toggle-s" />
    <label class="icon" for="toggle"><img src="../../../assets/svg/list.svg" alt=""></label>
    <div class="list">
        <ul class="menu ">
            <li routerLink="/main/home">Home</li>
            <li routerLink="/main/intro">Intro</li>
            <li>Exercise
                <ul class="item">
                    <li *ngFor="let item of menuItems" (click)="redirectToPage(item.route)">
                        <img src="{{ item.img }}" alt="">{{ item.label }}
                    </li>
                </ul>
            </li>
            <li routerLink="/main/news">News</li>
            <li routerLink="/main/tips">Tips</li>
            <li routerLink="/main/profile"><img src="../../../assets/svg/user.svg" alt="">
                <div></div>
            </li>
        </ul>
    </div>
    
</div>