.community_library{
    padding: 40px;
    width: 100%;
    
}

.public_big_exercises{
    display:flex;
    flex-direction: column;
}

.pagination {
    justify-content: center;
    margin-top: 20px;
}

.big_exercises{
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 18px;
    
}

.big_exercise{
    flex: 0 25%;
    /* min-width: 23%; */
}

.exercise{
    padding: 20px;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.target{
    color: black;
}

.author{
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar{
    width: 32px;
    height: auto;
    border-radius: 50%;
    background-color: rgb(200, 200, 200);
}


.all_generalGenre {
    display: none;
    width: 300px;
    position: absolute;
    margin: 20px 0 0 0;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    z-index: 3;
    transition: 1s;
}

.group_genre{
    display: flex;
    gap: 4px;
}

.genre {
    background-color: #e9ecef;
    margin-right: 4px;
    padding: 2px 4px;
    border-radius: 2px;
    display: none;
}

.genre:first-child {
    display: block;
}

.genre:last-child {
    display: block;
    position: relative;
}
