<div class="community_library text">
    <div class="public_big_exercises">
        <div class="big_exercises">
            <div class="big_exercise"
                *ngFor="let exercise of myBigExercises | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
                <div class=" exercise">
                    <div class="target">Target: {{ exercise.target }}</div>
                    <div class="group_genre">
                        <div class="genre" *ngFor="let genre of exercise.generalGenre.$values ,  let i = index">
                            <div *ngIf="i === 0 ">{{ genre.name }}</div>
                            <div  *ngIf="i > 0">+ {{ i }}
                                <div class="all_generalGenre">
                                    <ng-container
                                        *ngFor="let generalGenre of exercise.generalGenre.$values ,  let i = index">
                                        <div *ngIf="i > 0">
                                            + {{ generalGenre.name }}
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>Point: {{ exercise.point }}</div>
                    <div>Status: {{ exercise.status }}</div>
                </div>

                <div class="author">
                    <img *ngIf="exercise.avatarPath" class="avatar" src="{{ exercise.avatarPath }}" alt="">
                    <img *ngIf="!exercise.avatarPath" class="avatar" src="../../../assets/svg/person.svg" alt="">
                    <div>
                        <div>{{ exercise.username }}/{{ exercise.role }}</div>
                        <div>{{ exercise.email }}</div>
                    </div>
                </div>
                
            </div>

        </div>
        <pagination-controls class="pagination"  (pageChange)="currentPage = $event"></pagination-controls>
    </div>

</div>
