<div class="created_workouts text">
    <div class="group_workouts">
        <div class="workouts" *ngFor="let myBigExercise of myBigExercises">
            <div class="">
                <div class="content big_exercises">
                    <div class="target" (click)="navigateToBigExerciseDetails(myBigExercise.id)">
                        Target : {{myBigExercise.target}}
                    </div>
                    <div class="generalGenre">
                        <div *ngFor="let generalGenre of myBigExercise.generalGenre.$values ,  let i = index">

                            <div *ngIf="i === 0 ">{{ generalGenre.name }}</div>
                            <div *ngIf="i > 0">+ {{ i }}
                                <div class="all_generalGenre">
                                    <ng-container
                                        *ngFor="let generalGenre of myBigExercise.generalGenre.$values ,  let i = index">
                                        <div *ngIf="i > 0">
                                            + {{ generalGenre.name }}
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex ">
                        <img src="../../../assets/svg/check.svg" alt="">
                        <img src="../../../assets/svg/add_exercise.svg" alt="">
                        <img routerLink="/user/isolationExercises" src="../../../assets/svg/plus-square.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>