<div class="hearder text">
    <div class="frame">
        <div class="search">
            <img src="../../../assets/svg/search.svg" alt="">
            <input type="text" placeholder="Search">
        </div>
        <div class="Notification">
            <img src="../../../assets/svg/bell.svg" alt="">
            <img src="../../../assets/svg/mail_2.svg" alt="">
            <div class="user">
                <div class="avatar"></div>
                <div class="name_user">
                    <span>nguyen van hoàng</span>
                    <span class="text_13">gymmer</span>
                </div>
            </div>
        </div>
    </div>
    
</div>