.my_workout {
  width: 100%;
  padding: 40px;
}

.my_workout > * {
  margin-top: 20px;
  transition: 0.2s;
}

form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8595e584;
}

form>div {
  padding: 40px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

form input {
  width: 50px;
  height: 50px;
  border: none;
  background: none;
}

form button {
  width: 100%;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  padding: 5px;
}

form button:hover {
  background-color: rgb(59, 224, 83);
}

/* ______________________________________________ */



/* _________________________________________________ */

.details_date{
  height: 100%;
  flex: 1;

}

.calendar{
  width: 65%;

}

.main{
  gap: 20px;
  min-height: 100%;
}