<div class="my_workout text" *ngIf="day == 0">
  <div>
    <ul class="select_month">
      <li>{{ currentMonth }}/{{currentYear}}</li>
      <li>month</li>
      <li class="month" (click)="updateCurrentMonthAndYear( - 1)">
        <img src="../../../assets/svg/arrow-left.svg" alt="">
      </li>
      <ng-container *ngFor="let month of months">
        <li class="month" [class.click_color]="currentMonth == month " [value]="month"
          (click)="updateCurrentMonth(month)"> {{ month }} </li>
      </ng-container>
      <li class="month" (click)="updateCurrentMonthAndYear( + 1)">
        <img src="../../../assets/svg/arrow-right.svg" alt="">
      </li>
      <li class="month">
        <select>
          <ng-container *ngFor="let year of years">
            <option (click)="updateCurrentYear(year)" [value]="year" *ngIf="year == currentYear" selected>{{year}}
            </option>
            <option (click)="updateCurrentYear(year)" [value]="year" *ngIf="year !== currentYear">{{year}}</option>

          </ng-container>

        </select>
      </li>
    </ul>
  </div>

  <div class="flex view_type">
    <ul>
      <li (click)="currentDateAsNumber()">list</li>
      <li (click)="clickviewType(0)">target</li>
      <li (click)="clickviewType(1)">category</li>
    </ul>
   
  </div>

  <div>
    <table>
      <thead>
        <tr>
          <th *ngFor="let dayOfWeek of daysOfWeek">{{ dayOfWeek }}</th>
        </tr>
      </thead>
      <tbody>
        <ng-container>
          <tr *ngFor="let week of weeks; let i = index">
            <ng-container *ngFor="let days of week; let j = index">
              <td (click)="clickDay(days.day , days.month, days.year)"
                [class.currentMonth]="currentMonth == days.month " [ngClass]="getDayClass(days.status)">
                {{ days.day }}-
                {{ days.month }}-
                {{ days.year }}
                <div class="flex exercises_day">

                  <ng-container *ngFor="let time of exercise(days)">
                    <div class="block_ex" [style.background-color]="time.defaultColor" *ngIf="viewType == 0"></div>
                    <div class="block_ex" [style.background-color]="time.categoryColor" *ngIf="viewType == 1">
                    </div>
                  </ng-container>

                </div>
                <div class="group_edit">
                  <ul>
                    <li><img src="../../../assets/svg/plus-square.svg" alt=""></li>
                    <li><img src="../../../assets/svg/icon_svg/pencil-square.svg" alt=""></li>
                    <!-- <li><img src="../../../assets/svg/add_exercise.svg" alt=""></li> -->
                  </ul>
                </div>
                <div class="check_status" *ngIf="days.status == 'past'">
                  <img src="../../../assets/svg/icon_svg/check-all.svg" alt="">
                </div>
                <!-- <div *ngIf="days.status == 'past'">birthday</div> -->
              </td>
            </ng-container>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>


  <div class="note">
    <ul>
      <li *ngFor="let uniqueIdsWithColor of getUniqueColors()" (click)="clickBigExercise(uniqueIdsWithColor.id)">
        <div class="flex">
          <div class="block_ex" [style.background-color]="uniqueIdsWithColor.color"></div>
          {{uniqueIdsWithColor.content}}
        </div>
        <div (click)="dataupdateColor(uniqueIdsWithColor.id , uniqueIdsWithColor.color)">
          <img src="../../../assets/svg/icon_svg/pencil-square.svg" alt="">

        </div>
      </li>
      <li (click)="clickBigExercise(0)">default</li>
    </ul>
  </div>

</div>
<div class="my_workout today" *ngIf="day !== 0">

  <div>
    <ul>
      <li (click)="UserInfo()">list</li>

      <li></li>
    </ul>
  </div>

  <div>
    <ul class="select_month">
      <li (click)="updateCurrentDayAndMonthAndYear( - 1)">
        <img src="../../../assets/svg/arrow-left.svg" alt="">
      </li>

      <!-- <li class="month">{{day}}/{{ currentMonth }}/{{currentYear}} </li> -->
      <li class="month" (click)="updateCurrentDayAndMonthAndYear( + 1)">
        <img src="../../../assets/svg/arrow-right.svg" alt="">
      </li>
    </ul>
  </div>
  <div>
    <div *ngFor="let time of practiceTimes" class="practiceTimes">

      <div class="flex , timeStart">
        <svg aria-hidden="true" height="24" viewBox="0 0 16 16" version="1.1" width="24" data-view-component="true"
          class="octicon octicon-git-commit">
          <path
            d="M11.93 8.5a4.002 4.002 0 0 1-7.86 0H.75a.75.75 0 0 1 0-1.5h3.32a4.002 4.002 0 0 1 7.86 0h3.32a.75.75 0 0 1 0 1.5Zm-1.43-.75a2.5 2.5 0 1 0-5 0 2.5 2.5 0 0 0 5 0Z">
          </path>
        </svg>
        <div>Time Start:{{time.timeStart}}</div>
      </div>

      <div class="flex workout text">
        <div>{{time.id}}</div>
        <div>{{time.name}}</div>
        <div>{{time.description}}</div>
        <div>{{time.quantity}}</div>
        <div>{{time.time}}</div>
        <!-- <li>{{time.category}}</li> -->
        <div>{{time.evaluate}}</div>
      </div>

    </div>
  </div>
</div>

<form action="" (ngSubmit)="updateColor()" *ngIf="dataColor.id != 0" (click)="closeTheForm()" class="text">
  <div (click)="blockFormClosing($event)">
    <input type="color" id="colorInput" name="color" [(ngModel)]="dataColor.color" [value]="dataColor.color">
    <button type="submit">save</button>
  </div>
</form>