.today{
    height: 100%;
}

.today .workout {
    width: 100%;
    height: 100%;
    /* flex: 1; */
    background-color: white;
    border-left: 1px solid #ddd;
  }

  .content {
    height: 100%;

    overflow: hidden;
    border-radius: 12px;
    border: 1px solid #ccc;
  }
  
  .content>div {
    position: relative;
  }
  
  .title_content {
    padding: 10px 20px;
    /* border-radius: 12px 12px 0px 0xp; */
    background-color: #f6f8fa;
    justify-content: space-between;
  }
  
  .title_content ul {
    align-items: center;
    color: black;
    gap: 10px;
  
  }
  
  .title_content .user_name {
    font-size: 14px;
    font-weight: 600;
  }

  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
  }

  .avatar img {
    width: 100%;
    height: auto;
  }
  
  .main {
    padding: 20px 20px 20px 40px;
  }
  
  .item_main:hover .timeStart svg {
    fill: hsl(235, 71%, 57%);
  }
  
  .practiceTimes .timeStart div {
    padding: 0px 20px;
  }
  
  .practiceTimes:hover svg {
    fill: #3a57e8;
  }
  
  .practiceTimes:hover .workout {
    border-left: 1px solid #3a57e8;
  }

  .timeStart {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: black;
    left: 0px;
    white-space: nowrap;
  }
  
  .timeStart svg {
    position: absolute;
    transform: translatex(-50%);
  }
  
  .workout {
    width: 100%;
    padding: 20px;
    border-left: 1px solid #333;
  }
  
  .workout div {
    width: auto;
  }