<div class="footer">
    <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7)" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
            </g>
        </svg>
    </div>
</div>
<div class="content ">
    <!-- <div class="flex">
        <div class="tile-footer">
            <p>Gym Max</p>
        </div>
    </div> -->
    <!--  -->
    <div class="">
        <p class="tile"><b>Transform Your Fitness Journey at Gym Max: Unleash Your Full Potential</b></p>
        <div class="body-footer">
            <div>
                <ul class="item-intro">
                    <li><img src="../../../assets/svg/geo-alt-fill.svg" alt=""> Cơ sở 1 : 123 Nguyễn Chí Thanh, Đống Đa, Hà
                        Nội </li>
                    <li><img src="../../../assets/svg/geo-alt-fill.svg" alt=""> Cơ sở 2 : 456 Trần Duy Hưng, Cầu Giấy, Hà
                        Nội</li>
                    <li><img src="../../../assets/svg/geo-alt-fill.svg" alt=""> Cơ sở 3 : 789 Hoàng Quốc Việt, Cầu Giấy, Hà
                        Nội</li>
                    <li><img src="../../../assets/svg/geo-alt-fill.svg" alt=""> Cơ sở 4 : 321 Lê Văn Lương, Thanh Xuân, Hà
                        Nội</li>
                    <li><img src="../../../assets/svg/mail.svg" alt=""> Mail : example123@gmail.com</li>
                    <li><img src="../../../assets/svg/intenet.svg" alt=""> gymmaxstrength.com</li>
                    <li><img src="../../../assets/svg/phone.svg" alt=""> Hotline : 0987 654 321 -  0987 231 564</li>
                </ul>
            </div>
            <div class="body-footer ">
    
                <ul class="item-intro">
                    <li routerLink="/main/home"> Home </li>
                    <li routerLink="/main/intro"> Intro</li>
                    <li > Exercise</li>
                    <li routerLink="/main/news"> News</li>
                    <li routerLink="/main/tips"> Tips</li>
                    <li routerLink="/main/profile"> Account</li>
                </ul>
    
                <ul class="item-intro">
                    <li> Exercise library </li>
                    <li> Video library</li>
                    <li> Exercise </li>
                    <li> Recruitment</li>
                    <li> Support</li>
                </ul>
    
            </div>
            <div class="flex">
                <div><p class="tile">Connect with us</p>
                    <ul class="item-Connect">
                        <li><img src="../../../assets/svg/face.svg" alt=""></li>
                        <li><img src="../../../assets/svg/twitter.svg" alt=""></li>
                        <li><img src="../../../assets/svg/pinterest.svg" alt=""></li>
                        <li><img src="../../../assets/svg/youtobe.svg" alt=""></li>
                    </ul></div>
            </div>
        </div>
        
    </div>
</div>