/* 

.tile {
    width: 100vw;
    height: 30vh;
    background-color: aquamarine;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 4px rgba(70, 70, 70, 0.7);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}



.form {
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    max-width: 650px;
    width: 80vw;
    background-color: white;
    z-index: 2;
    box-shadow: 2px 2px 4px rgba(70, 70, 70, 0.7);
}

.hearder_form {
    box-shadow: 0px 2px 4px rgba(70, 70, 70, 0.7);
    background-color: rgb(255, 127, 127);
    position: relative;
    border-radius: 12px;
}

.user {
    display: flex;
    padding: 20px 20px 0px 20px;
}




.health_card ul {
    padding: 0px 20px 20px 20px;
}

.health_card ul li {
    padding: 0px 12px;
    font-size: 2vh;

}

.details {
    overflow: hidden;
    padding: 20px 60px;
}

.basic_information {
    margin: 20px 0px;
}

.basic_information input {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
  position: relative;
}

.basic_information input:nth-child(1) {
    height: 40px;
  
    font-size: 25px;
}

.basic_information input:nth-child(2) {
    height: 30px;
  
    font-size: 18px;
}

.list {
    border-left: 6px solid #c7ede6;
    position: relative;
    min-width: 99%;
    display: inline-block;
}



.inputItems>label {
    padding: 10px;
}

.list input[type="text"],
input[type="number"],
input[type="date"] {
    width: 100%;
    max-width: 350px;
    height: 40px;
    border: 1px solid #4533d2;
    background-color: transparent;
    border-radius: 8px;
    padding: 2%;
    outline: none;
}

.radio {
    display: flex;
}

.radio label {
    display: flex;
    align-items: center;
    padding: 0px 15px;
   
   
}

.radio input{
    margin: 0px 10px;
}



.list .basic {
    margin-top: 15px;
}

.list .basic label {
    padding: 0px 15px;
    width: 100px;
    transform: 1S;
}

.list.animate {
    animation: conveyorBeltAnimation 3000s linear infinite;
  }


.checkbox_input {
    display: flex;
    font-size: 1.3em;
}

.checkbox_input input {
    margin: 0px 15px;

}

.icon_tile {
    width: 30px;
    height: 30px;
    margin: 0px 30px 0px 0px;
    position: absolute;
    left: -18px;
    
}

.icon_tile img{
    width: 70px;
    height: auto;
}


.icon_square {
    width: 15px;
    height: 15px;
    border: rgb(255, 255, 255) 3px solid;
    background-color: chartreuse;
}

.form_button {
    width: 100%;
    height: 10vh;
    position: relative;
    display: flex;
    
}

.form_button>div {
    position: absolute;
    right: 0;
}

.form_button button {
    width: 100px;
    height: 45px;
    border: none;
    margin: 0px 10px;
    border-radius: 6px;
}

.bt_back:hover {
    background-color: gray;
    border: 1px solid #545454;
}

.bt_save:hover {
    background: palegreen;
}

.bt_next:hover {
    background-color: palegreen;
} */

.health_card {
    display: grid;
    position: relative;
    width: 100%;
}

.hearder_form {
    border-bottom: 1px solid #888;
}

.user {
    margin: 10px 20px;
}

.tile img {
    width: 100%;
    filter: blur(10px);
}

.tile {
    width: 100vw;
    height: 30vh;
    box-shadow: 2px 2px 4px rgba(70, 70, 70, 0.7);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avata {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: aqua;
    border: white 4px solid;
    position: relative;
    margin-right: 20px;

}

.add_avata {

    border-radius: 50%;
    position: absolute;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
    width: 25px;
    height: 25px;
}

.add_avata img {
    width: 70%;
    height: auto;
}



.choose_avatar {
    position: fixed;
    max-width: 1150px;
    width: 68%;
    height: 70%;
    background-color: rgba(255, 255, 255, 0.822);
    border-radius: 12px;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    box-shadow: 2px 2px 4px rgba(70, 70, 70, 0.7);

}

.choose_avatar .avata {
    margin: 20px 40px;
    overflow: hidden;
}

.choose_avatar input {
    margin: 20px 40px;
}

.avata>img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.choose_avatar::-webkit-scrollbar,
.img_avata::-webkit-scrollbar {
    width: 0.5em;
}

.choose_avatar::-webkit-scrollbar,
.img_avata::-webkit-scrollbar {
    background-color: #888;
    border-radius: 4px;
}

.choose_avatar::-webkit-scrollbar,
.img_avata::-webkit-scrollbar {
    background-color: #555;
}

.choose_avatar::-webkit-scrollbar,
.img_avata::-webkit-scrollbar {
    background-color: #f2f2f200;
    border-radius: 4px;
}

.choose_avatar .img_avata {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
    height: 50%;
    padding: 20px 40px;
    overflow: auto;
}

.choose_avatar.animate {
    animation: chooseAvatarAnimation 3000s linear infinite;
}


.img_avata img {
    display: inline-block;
    width: 100%;
    height: auto;
    text-align: center;
    border-radius: 8px;
    transition: transform 0.2s ease;
    box-shadow: 2px 2px 4px rgba(70, 70, 70, 0.7);

}

.img_avata img:hover {
    transform: scale(1.1);
}

.form {
    margin-top: 20px;
    /* border: 1px solid #888; */
    border-radius: 12px;
}

.question-number {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .question-number:hover {
    background-color: #888;
  }

.details {
    justify-content: center;
}

.list {
    width: 70vw;

    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    /* Ngăn các thành phần con trôi xuống dòng mới */
    /* overflow-x: scroll; */
    /* Cho phép cuộn ngang khi nội dung vượt quá khung */
    gap: 20px;
    /* Khoảng cách giữa các thành phần con */
    /* padding: 20px; */
    /* Thêm khoảng cách ngoài */

}

.form_main {
    width: 100%;
    /* Cân đối theo chiều rộng của .list */
    /* Đặt chiều rộng tối đa của mỗi thành phần con */
    flex-shrink: 0;
    /* Ngăn các thành phần con co lại quá nhiều */
    box-sizing: border-box;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    
    /* Bao gồm phần padding và border trong chiều rộng */
}

.form_group label {
    font-size: 2em;

}

.form_group input[type="text"],
input[type="number"],
input[type="date"] {
    /* background-color: var(--bgColor-muted, var(--color-canvas-inset)); */
    background-color: #f6f8fa;
    width: 80%;
    max-width: 300px;
    height: 25px;
    border: 1px solid #888;
    padding: 3px;
}

.formQuestions>div {
    padding: 10px 20px;
}

.form_group {
    width: 100%;
    gap: 10px;
    position: relative;
}

.form_button {
    /* position: absolute; */
    right: 20px;
    bottom: 20px;
}

.form_button button {
    height: 25px;
    border: 1px solid #888;
    padding: 3px;
    width: 65px;
    margin: 10px;
}

.icon_tile {
    border-right: 1px solid #888;
    /* height: 100%; */
}




@keyframes conveyorBeltAnimation {
    0% {
        transform: translateX(0);
    }

    0.01% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes chooseAvatarAnimation {
    0% {
        transform: translate(-50%, -50%);
    }

    0.005% {
        transform: translate(-50%, -80%);
    }

    100% {
        transform: translate(-50%, -80%);
    }
}



@media screen and (min-width: 840px) and (max-width: 1023px) {}

@media screen and (max-width: 840px) {
    .user {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .avata {

        margin-right: 0px;
    }

    /* 
    .user input{
        margin-left: 50%;
        margin-right: 50%;
    } */

    .basic_information input {
        width: 100%;
        text-align: center;
    }

    .details {
        padding: 20px 40px;
    }
}




/* 
hr {
    margin-top: 0rem;
    margin-bottom: 10px;
    border: 0;
    border-top: 2px solid rgba(0,0,0,.1);
}

.tyles {
    display: flex;
    height: 40px;
    color: #ffbcbc;

}

.tyle {
    height: 35px;
    background: aquamarine;
}

.texts {
    margin: 5px;
    margin-left: 5px;
}

.hinh_binh_hanh {
    width: 0;
    height: 0;
    border-top: 25px solid aquamarine;
    border-right: 32px solid transparent;
}

.head1 {
    height: 1px;
    background: aquamarine;
    width: 100%;
*/