<div class="sidebar ">
    <div class="main_logo text logo logo_name">
        <img src="../../../assets/svg/Frame 453.svg" alt="">
        gymmax
    </div>

    <div class="main text">
        <div class="title">home</div>
        <ul>
            <li>
                <div class="conten">
                    <div class="tile"><img src="../../../assets/svg/map.svg" alt="">Home</div>
                    <div><img src="../../../assets/svg/Dropdown.svg" alt=""></div>
                </div>
            </li>
            <li>
                <div class="conten">
                    <div class="tile"><img src="../../../assets/svg/map.svg" alt="">Home</div>
                    <div><img src="../../../assets/svg/Dropdown.svg" alt=""></div>
                </div>
            </li>
            <li>
                <div class="conten">
                    <div class="tile"><img src="../../../assets/svg/map.svg" alt="">Home</div>
                    <div><img src="../../../assets/svg/Dropdown.svg" alt=""></div>
                </div>
            </li>
            <li>
                <div class="conten">
                    <div class="tile"><img src="../../../assets/svg/map.svg" alt="">Home</div>
                    <div><img src="../../../assets/svg/Dropdown.svg" alt=""></div>
                </div>
            </li>
            <li>
                <div class="conten">
                    <div class="tile"><img src="../../../assets/svg/map.svg" alt="">Home</div>
                    <div><img src="../../../assets/svg/Dropdown.svg" alt=""></div>
                </div>
            </li>
        </ul>
    </div>
</div>