/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');
body {
  font-family: 'Work Sans', sans-serif;
  font-size: 62.5%;
  background-color: #d8d8d8;
}

*{
    margin: 0px;
    padding: 0px;
}

ul{
    display: flex;
}

ul li{
    list-style-type: none;
}