/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  /* font-family: 'Work Sans', sans-serif; */
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
  background-color: #ebebeb;
}

*{
    margin: 0px;
    padding: 0px;
}

ul{
    display: flex;
}

ul li{
    list-style-type: none;
    cursor: pointer;
}

.flex{
    display: flex;
}



@media screen and (min-width: 840px) and (max-width: 1023px) {
   
}

@media screen and (max-width: 840px) {
  .font_size_tile{
    font-size: 18px;
  }

  .font_size{
    font-size: 12px;
  }
}