.create_exercises {
    padding: 40px 40px 80px 40px;
    width: 100%;
    position: relative;

}

.form_create_exercises{
    position: relative;
}

form {
    width: 100%;
    /* background-color: white; */
    padding: 20px 200px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;

}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}

form input[type="text"],
input[type="number"],
input[type="date"],
button {
    /* height: 18px; */
    padding: 5px;
    min-width: 200px;
    max-width: 40%;
    border-radius: 4px;
    border: 1px solid gray;
}

form input[type="radio"]{
    width: 18px;
    height: 18px;
    margin-right: 10px;
}



.flex {
    flex-direction: row;
    flex-wrap: wrap;
}

.form_radio {
    display: flex;
    align-items: center;
    padding: 4px;

}
.form_radio label{
    cursor: pointer;
}

/* button {
    margin-top: 20px;
    right: 0;
    border: none;
    background-color: rgb(25, 189, 90);
    color: white;
}

button:hover{
    background-color: rgb(24, 150, 74);
} */

.tip{
    position: relative;
    cursor: pointer;
}

.suggest{
    border: 1px solid gray;
    padding: 4px;
    border-radius: 3px;
    margin: 4px;
}

.Suggested_details{
    display: none;
    position: absolute;
    top: -110px;
    /* bottom: 0; */
    /* transform: translateY(-10px); */
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 8px;
    border-radius: 4px;
    width: 200px;
    z-index: 2;
}

.selected_group{
    margin-top: 20px;
    /* padding: 0px 15px 0px 0px; */
    border-radius: 6px;
    border: 1px solid #ccc;
}

.selected >div:not(:last-child){
    border-bottom:1px solid #ccc ;
}



.selected > div{
    padding: 10px 20px;
    border-bottom:1px solid #ccc ;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.selected_content{
    width: 80%;
}

.genre_name{
    color: black;
    font-size: 14px;
    margin-top: 10px;
}

.unchecked{
    display: none;
}

.selected:hover{
    background: #C4CCF8;
    color: #3A57E8 !important;
    border-color: #3A57E8 !important;
}

.selected:hover .unchecked{
display: block;
}

.tip .suggest:hover{
    background-color: rgb(25, 189, 90);
    color: rgb(255, 255, 255);
}

.tip:hover .Suggested_details{
    display: block;
}

.click_private{
    color: black;
}

.select{
    background-color: rgb(25, 189, 90);
    color: white;
}

.submit{
    position: fixed;
    left: 50%;
    bottom: 10vh;
    transform: translateX(-50%);
}

.form_create_category{
    left: 0;
    top: 0px;

    padding: 200px 400px;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(154, 154, 154, 0.462);
    z-index: 3;
    display: none;
    transition: 1s;
  }
.form_create_category form{
    background-color: white;
}
.form_create_category_open{
    display: block;
    transition: 1s;
}